<h1>API Links</h1>
<p><strong>All Comments: </strong>https://marigaportfolio.herokuapp.com/api/all_comments/</p>
<p><strong>All Portfolios: </strong>https://marigaportfolio.herokuapp.com/api/all_projects</p>
<p><strong>By DB: </strong>https://marigaportfolio.herokuapp.com/api/database_projects/
  {database}
</p>
<p><strong>By Language: </strong>https://marigaportfolio.herokuapp.com/api/languages_projects/{languages}
</p>
<p><strong>By Framework: </strong>https://marigaportfolio.herokuapp.com/api/framework_projects/{framework}
</p>
<p><strong>By Tools: </strong>https://marigaportfolio.herokuapp.com/api/tools_projects/{tools}
</p>